h1 {
    background-color: rgb(211, 167, 211);
    text-align: center;

    font-family: "gunter", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    margin-top: 10px;
    padding:15px 100px;
    border-radius: 30px;
    display: inline-block;
}

#container{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

#container a{
    font-family: "gunter", sans-serif;
    font-size: 30px;
    color:#3E2723;

}

html{
    background-color: #FCE4EC;
}

body{
    background-color: #FCE4EC;
    color: #3E2723;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;

}
p{
    font-size: large;
}
#homebutton{
    margin-bottom: 30px;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 30px;
        padding: 10px 20px;
    }

    #container {
        gap: 20px;
        flex-wrap: wrap;
        margin-top: 20px;
        margin-bottom: 20px;
        justify-content: center;
    }

    #container a {
        font-size: 18px;
    }

    #gallery {
        flex-wrap: wrap;
    }

    h2 {
        font-size: 30px;
    }

    .description {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 18px;
    }

    p {
        font-size: 18px;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}