h1{
    font-size: 70px;
    background-color: rgb(211, 167, 211);
    text-align: center;

    /* font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal; */

    /* font-family: "daith-text", sans-serif;
    font-weight: 400;
    font-style: italic; */

    /* font-family: "gonte", sans-serif;
    font-weight: 400;
    font-style: normal; */

    font-family: "gunter", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    margin-top: 10px;
    padding:15px 100px;
    border-radius: 30px;
    display: inline-block;
    


}

html{
    font-size: clamp(1rem, 0.75rem + 1.5vw, 5rem);
    background-color: #FCE4EC;
}


#container{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

#container a{
    font-family: "gunter", sans-serif;
    font-size: 30px;
    color:#3E2723;

}

#gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    justify-items: center;
}

#gallery img {
    width: 300px;
    height: auto;
}

#gallery p {
    text-align: center;
    font-family: "dolly-new", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

h2 {
    font-family: "gunter", sans-serif;
    font-size: 40px;

}
body{
    background-color: #FCE4EC;
    color: #3E2723;
    text-align: center;
    font-family: "dolly-new", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button{
    background-color: rgb(255, 255, 255);
    
}

a{
    color:#D81B60;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

a:hover{
    color: #D81B60;
}

p{
      text-align:center;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 18px;  
}


.description{
    text-align:center;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 20px;
    font-family: "dolly-new", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;

    background-color: rgb(211, 167, 211);
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    padding:15px 50px;
    border-radius: 30px;
    display: inline-block;
}

.imagePrint:hover{
    outline: 5px solid #D81B60; 
    /* border: 5px solid red; */
}

.digi:hover{
    outline: 5px solid #D81B60; 
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 30px;
        padding: 10px 20px;
    }

    #container {
        gap: 20px;
        flex-wrap: wrap;
        margin-top: 20px;
        margin-bottom: 20px;
        justify-content: center;
    }

    #container a {
        font-size: 18px;
    }

    #gallery {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        justify-items: center;
        align-items: start;
        gap: 30px;
    }

    #gallery img {
        width: 200px;
        max-width: 80%;
        height: auto;
    }

    h2 {
        font-size: 30px;
    }

    .description {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 18px;
    }

    p {
        font-size: 18px;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}
